.experience {
  padding: 100px 20px;
  background: #ffffff;
  text-align: center;
}

.experience h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.exp-card {
  background: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  border-radius: 8px;
}

.exp-card h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.exp-card span {
  font-size: 14px;
  color: gray;
}

.exp-card ul {
  margin-top: 10px;
  padding-left: 20px;
}
