html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

